.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  z-index: 10;
}

.input.input-inline label {
  display: inline-block;
  font-size: 0.7em;
  width: 120px;
  text-transform: uppercase;
}

.input.input-inline input {
  margin-left: 10px;
  width: 50px;
}

input[type=range] {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 11;
  pointer-events: none;
}



.drawer-tabs{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  z-index: 100;
}

.drawer-tabs li{
  float: left;
  padding: 0.5em;
  margin: 0;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
}

.react-drawer-drawer {
  overflow: scroll;
}

.user-form {
  padding: 1em;
}
